<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Estudante</title>

    
</head>
<body>

    <form action="#" th:action="@{/estudante/addEstudante}" th:object="${estudante}" method="post">
        <p>Primeiro Nome: <input type="text" th:field="*{primeiroNome}" placeholder="Insira seu nome" /></p>
        <p>Último Nome: <input type="text" th:field="*{ultimoNome}" placeholder="Insira seu nome" /></p>
        <p>Curso: 
            <select th:field="*{curso}">
                <option th:each="curso: *{cursos}" th:value="${curso}" th:text="${curso}">
            </select>
        </p>
        <p> 
            <input type="radio" th:field="*{linguagem}" th:value="Java" th:text="Java"/>
            <input type="radio" th:field="*{linguagem}" th:value="C" th:text="C"/>
            <input type="radio" th:field="*{linguagem}" th:value="Python" th:text="Python"/>
            <input type="radio" th:field="*{linguagem}" th:value="Javascript" th:text="Javascript"/>
        </p>
        <p>
            <input type="checkbox" th:field="*{sistemasOperacionas}" th:value="OSX" th:text="OSX" />
            <input type="checkbox" th:field="*{sistemasOperacionas}" th:value="Windows" th:text="Windows" />
            <input type="checkbox" th:field="*{sistemasOperacionas}" th:value="Linux" th:text="Linx" />
        </p>
        <p><input type="submit" value="Adicionar" /></p>
    </form>
    
</body>
</html>