<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Estudante</title>

    
</head>
<body>

    <form action="#" th:action="@{/estudante/addEstudante}" th:object="${estudante}" method="post">
        <p>Nome: <input type="text" th:field="*{nome}" placeholder="Insira seu nome" /></p>
        <p>Curso: <input type="text" th:field="*{curso}" placeholder="Insira o curso" /></p>
        
        <p><input type="submit" value="Adicionar" /></p>
    </form>
    
</body>
</html>